:root {
  --primary-color: #004876;
  --secondary-color: #3B2F2F;
  font-size: 16px;
}

@media (max-width: 780px) {
  :root {
    font-size: 14px;
  }
}

* {
  padding: 0;
  margin: 0
}

body {
  min-height: 100vh;
  font-family: 'Tajawal', sans-serif;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 5px;
  }

  /* Style the scrollbar thumb */
  &::-webkit-scrollbar-thumb {
    background: #004876;
    /* Thumb color */
    border-radius: 10px;
    border: 2px solid #f0f0f0;
  }

  /* Style the scrollbar thumb when hovered */
  &::-webkit-scrollbar-thumb:hover {
    background: #7c929b;
    /* Thumb color when hovered */
  }

  /* Set the scrollbar width */
  &::-webkit-scrollbar {
    width: 9px;
  }
}

[dir=rtl] {
  body,
  h2,
  h3,
  h1,
  h6,
  h4,
  h5,
  ::placeholder {
    font-family: "Tajawal", sans-serif;
  }
}

[dir=ltr] {
  body,
  h2,
  h3,
  h1,
  h6,
  h4,
  h5,
  ::placeholder {
    font-family: "Quicksand", sans-serif;
  }
}

