:root {
  --color-primary: #004876;
  --color-secondary: #3b2f2f;
  --color-hover: #6f4336;
  --bg-color:  #fff;
  --text-color: #1f2937;

  --text-main-color: #292625;
  --font-ltr: "Quicksand", sans-serif;
  --font-rtl: "Tajawal", sans-serif;
  --font-base: var(--font-rtl);

  font-size: 16px;
}

@media (max-width: 780px) {
  :root {
    font-size: 14px;
  }
}

/* Dark Mode */
html.dark {
  --bg-color: #0f172a;
  --text-color: #e5e7eb;
  --color-primary: #4da3d9;
  --color-secondary: #d1c7c7;
}

html {
  font-family: var(--font-base);
}

body {
  min-height: 100vh;
  background-color: var(--bg-color) !important;
  color: var(--text-color);
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

/* Scrollbar track */
body::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 5px;
}

/* Scrollbar thumb */
body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

/* Scrollbar thumb hover */
body::-webkit-scrollbar-thumb:hover {
  background: #7c929b;
}

/* Scrollbar width */
body::-webkit-scrollbar {
  width: 9px;
}

/* RTL */
[dir="rtl"] body,
[dir="rtl"] h1,
[dir="rtl"] h2,
[dir="rtl"] h3,
[dir="rtl"] h4,
[dir="rtl"] h5,
[dir="rtl"] h6,
[dir="rtl"] p,
[dir="rtl"] ::placeholder {
  font-family: var(--font-rtl);
}

/* LTR */
[dir="ltr"] body,
[dir="ltr"] h1,
[dir="ltr"] h2,
[dir="ltr"] h3,
[dir="ltr"] h4,
[dir="ltr"] h5,
[dir="ltr"] h6,
[dir="ltr"] p,
[dir="ltr"] ::placeholder {
  font-family: var(--font-ltr);
}
