:root {
  --primary-color: #004876;
  --secondary-color: #3B2F2F;
  font-size: 16px;
}

@media (max-width: 780px) {
  :root {
    font-size: 14px;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: 'Tajawal', sans-serif;
  overflow-x: hidden;
}

/* Scrollbar track */
body::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 5px;
}

/* Scrollbar thumb */
body::-webkit-scrollbar-thumb {
  background: #004876;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

/* Scrollbar thumb hover */
body::-webkit-scrollbar-thumb:hover {
  background: #7c929b;
}

/* Scrollbar width */
body::-webkit-scrollbar {
  width: 9px;
}

/* RTL */
[dir="rtl"] body,
[dir="rtl"] h1,
[dir="rtl"] h2,
[dir="rtl"] h3,
[dir="rtl"] h4,
[dir="rtl"] h5,
[dir="rtl"] h6,
[dir="rtl"] p,
[dir="rtl"] ::placeholder {
  font-family: "Tajawal", sans-serif;
}

/* LTR */
[dir="ltr"] body,
[dir="ltr"] h1,
[dir="ltr"] h2,
[dir="ltr"] h3,
[dir="ltr"] h4,
[dir="ltr"] h5,
[dir="ltr"] h6,
[dir="ltr"] p,
[dir="ltr"] ::placeholder {
  font-family: "Quicksand", sans-serif;
}